{% extends "layout.html" %}

{% block content %}
    <h1>{{ register_name }} Linked Data API</h1>
    {% if class_uri %}
        <h3>Alternates view of a <a href="{{ class_uri }}">{{ class_uri }}</a></h3>
    {% else %}
        <h3>Alternates view</h3>
    {% endif %}
    {% if instance_uri %}
        <h3>Instance <a href="{{ instance_uri }}">{{ instance_uri }}</a></h3>
    {% endif %}
    <p>Default view: <a href="{{ request.base_url }}?_view={{ default_view_token }}">{{ default_view_token }}</a></p>
    <table class="pretty alternates">
    <tr><th>View</th><th>Formats</th><th>View Desc.</th><th>View Namespace</th></tr>
    {% for v, vals in views.items() %}
            <tr>
                <td><a href="{{ request.base_url }}?_view={{ v }}">{{ v }}</a></td>
                <td>
                {% for f in vals['formats'] %}
                    <a href="{{ request.base_url }}?_view={{ v }}&_format={{ f }}">{{ f }}</a>
                    {% if loop.index != vals['formats']|length %}<br />{% endif %}
                {% endfor %}
                </td>
                <td>{{ vals['namespace'] }}</td>
                <td>{{ vals['comment'] }}</td>
            </tr>
    {% endfor %}
    </table>


{% endblock %}
