{% extends "layout.html" %}

        {% block content %}
        <h1>{{ label }}</h1>
        <h2>Container Members View</h2>
        <!--<h3>Classes of item in this Register:</h3>-->
        {% for class in contained_item_classes %}
            <span><h3>Of <a href="{{ class }}">{{ class }}</a> class items</h3></span>
        {% endfor %}
        <!--<ul>-->
        <!--{% for class in contained_item_classes %}-->
            <!--<li><a href="{{ class }}">{{ class }}</a></li>-->
        <!--{%  endfor %}-->
        <!--</ul>-->
        <table>
            <tr>
                <td style="vertical-align:top; width:500px;">
                    <h3>Items in this Register</h3>
                    <ul>
                    {%- for item in members -%}
                        {%- if item is not string %}
                        <li class="no-line-height"><a href="{{ item[0] }}">{{ item[1] }}</a></li>
                        {%- else %}
                        <li class="no-line-height"><a href="{{ item }}">{{ item.split('#')[-1].split('/')[-1] }}</a></li>
                        {%- endif %}
                    {%- endfor -%}
                    </ul>
                    {%  if pagination.links %}
                    <h5>Paging</h5>
                    {%  endif %}
                    {{ pagination.links }}
                </td>
                <td style="vertical-align:top;">
                    <h3>Alternate views</h3>
                    <p>Different views of this register are listed at its <a href="{{ request.base_url }}?_view=alternates">Alternate views</a> page.</p>
                    <h3>Automated Pagination</h3>
                    <p>To page through these items, use the query string arguments 'page' for the page number and 'per_page' for the number of items per page. HTTP <code>Link</code> headers of <code>first</code>, <code>prev</code>, <code>next</code> &amp; <code>last</code> indicate URIs to the first, a previous, a next and the last page.</p>
                    <p>Example:</p>
                    <pre>
{{ request.base_url }}?page=7&per_page=50
                    </pre>
                    <p>Assuming 500 items, this request would result in a response with the following Link header:</p>
                    <pre>
Link:   &lt;{{ request.base_url }}?per_page=50&gt; rel="first",
    &lt;{{ request.base_url }}?per_page=50&page=6&gt; rel="prev",
    &lt;{{ request.base_url }}?per_page=50&page=8&gt; rel="next",
    &lt;{{ request.base_url }}?per_page=50&page=10&gt; rel="last"
                    </pre>
                    <p>If you want to page the whole collection, you should start at <code>first</code> and follow the link headers until you reach <code>last</code> or until there is no <code>last</code> link given. You shouldn't try to calculate each <code>page</code> query string argument yourself.</p>
                </td>
            </tr>
        </table>
        {% endblock %}
